* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #229F8F;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5;
  --white: #FFFFFF;
  --frontEnd: #3ed6c2;
  --backEnd: #00C86F;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

.NotFound {
  display: block;
  width: 50vw;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .NotFound {
    width: 100vw;
  }
}
